node_modules/
.env
.env.*
dist/
build/

Client/node_modules/
Server/node_modules/
Client/.env
Server/.env

chat_app/Client/node_modules/
chat_app/Server/node_modules/
chat_app/Client/.env
chat_app/Server/.env

*.json
!package.json
!package-lock.json